@media only screen and (max-width: 400px) {
    .cate-down-arrow-icon {
        color: black;
    }
    .category-item{
        margin-left: -200px;
    }
    .category-brand-item{
        margin-left: -200px;
        
    }
    .category-item-btn{
        background-color: white;
        border:white;
        font-size: 12px;
        border-radius: 10px;
        margin-left: 10px;
    }
   


}