@media only screen and (max-width: 400px) {
    .search-section-small{
       display: flex;
        background-color: limegreen;
        margin-top: -60px;
        height:60px;
        width:400px;
       margin-left: -15px;
       
    }
    .search-section-small input{
        background-color: white;
        margin-top: 15px;
        margin-left: 15px;
        height:35px;
        width:300px;
        color:black;
        outline-style: none;
        padding-left: 20px;
       
        border:none;
        font-weight: 400;
    }
    .left-arrow-icon{
       text-decoration: none;
       color:white;
       margin-top: 20px;
     margin-left: 15px;
     font-size: 25px;
    }
    .search-btn-small{
        position: absolute;
        margin-top: 21px;
        margin-left: 306px;
        background-color: white;
        height:28px;
        color:black;
        font-weight: 300;
        
    }
    .search-cart-icon{
      color:black;
      font-weight: 300;
      
    }
    .suggestion-section p{
        text-align: start;
        font-size: 12px;
        margin-top: 5px;
        color:gray;
    }
    .suggestion-btn-section{
        margin-left: -200px;
        margin-top: -12px;
    }
    .suggestion-btn{
        background-color: rgba(220, 220, 220, 0.315);
        border-radius: 15px;
        margin-left: 10px;
        border:gainsboro;
        height:30px;
        text-align: center;
    }
    .suggestion-btn p{
        color:red;
        
    }
    .recent-btn{
        background-color: rgba(220, 220, 220, 0.315);
        border-radius: 15px;
        margin-left: -100px;
        border:gainsboro;
        height:30px;
    }
    .recent-btn p{
        color:red;
        
    }
    .search-btn{
        background-color: black;
        margin-left: -40px;
        height:35px;
        margin-top: 15px;
        width:40px;
        color:white;
    }
}